<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    </head>
    <body style="background: olive;">

        <form action="/" method="POST" style="background: maroon;">
            <input type="text" name="username" id="username" placeholder="username">
            <input type="text" name="password" id="password" placeholder="password">
            <input type="submit" value="Add Task">
        </form>


        <button>
            <a href = '/button/'>
                click here
            </a>
        </button>
    </body> 
    

</html>